div{
    margin-left: -8px;
    margin-top: -8px;
    color:yellow;
    font-size: 40px;
    text-align: right;
    letter-spacing: 1px;
    font-family: animated-font;
    width: 900px;
    height: 600px;
    background-image:

                    url("../images/VladoKHula.png") ,
                    url("../images/AlexHula.png"),
                    url("../images/NakovHula.png"),
                    url("../images/TediHula.png"),
                    url("../images/PetiaHula.png"),
                    url("../images/VladoGHula.png"),
                    url("../images/HawaiiBackground.png");
    background-repeat: no-repeat;
    background-position: 99% 85%, 75% 85%, 56% 85%, 31% 85%, 25% 85%, 4% 85%, 10% 10%;
}

@font-face {
    font-family: animated-font;
    src: url('../images/Animated.ttf');
}

body{
    background: -webkit-radial-gradient(at top left,white,#ffffff,blue);
    background: radial-gradient(at top left,white,white,blue,blue);
    background-size: 900px 600px;
    background-repeat:no-repeat ;
}